In [ ]:
import os
import pandas as pd
import datetime
import re

In [ ]:
dirpath = '/content/drive/MyDrive/StockNews '
output = '/content/drive/MyDrive/StockNews /merged.csv'

In [ ]:
pd.concat(
    pd.read_csv(os.path.join(dirpath, fname), sep=',', index_col=0, header=None)
    for fname in sorted(os.listdir(dirpath))
).to_csv(output)

# **`Feature engineering`**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/merged(1).csv",names=["News","Date"])

In [ ]:
df.head()

                                                News        Date
0  Mamaearth raises $52 million in latest round o...  01-01-2022
1  India bags $638 million in cryptocurrency, blo...  01-01-2022
2  India bags $638 million in cryptocurrency, blo...  01-01-2022
3                Airtel, Vi push for work on 6G tech  01-01-2022
4   Future Retail misses Rs 3,000 crore payment date  01-01-2022

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23430 entries, 0 to 23429
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   News    23430 non-null  object
 1   Date    23430 non-null  object
dtypes: object(2)
memory usage: 366.2+ KB

In [ ]:
df=df[df["Date"]!="Text"]

In [ ]:
df['Date'] = pd.to_datetime(df['Date'].astype(str), format='%d-%m-%Y')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23427 entries, 0 to 23429
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   News    23427 non-null  object
 1   Date    23427 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 549.1+ KB

In [ ]:
df.sample(50)

                                                    News       Date
12686  Toll in Jharkhand mines mishap rises to five, ... 2022-02-02
2047     Taiwan troops simulate urban warfare with China 2022-01-06
22166  Can I add IT or technology funds to my mutual ... 2022-02-25
15427  Cryptocurrencies as esops will be taxed as 'gi... 2022-02-09
4097   DRDO flight tests man-portable anti-tank guide... 2022-01-11
7538   GARI token volume tops $100 million on first d... 2022-01-20
5645   Clap, don't chant: China aims for 'Zero COVID'... 2022-01-15
21786   5 banks offering lowest home loan interest rates 2022-02-24
17383  Buy InterGlobe Aviation, target price Rs 2375:... 2022-02-14
23235  'Gilt without Guilt': Surreal and inventive Mi... 2022-02-28
10272  Biddano to expand reach in over 50 cities, GMV... 2022-01-27
2811   India’s mango, pomegranate exports to US to st... 2022-01-08
19578  Reliance Capital lenders agree on asset sales ... 2022-02-18
3722   JPMorgan sees ONGC at Rs 235; Jefferies downgr... 2022-01-11
4585   UK PM Boris Johnson apologises in Parliament f... 2022-01-12
12048  Ahead of Union Budget, MoS Finance Karad said,... 2022-02-01
17321  How to choose the right ELSS mutual fund schem... 2022-02-14
12769  Sriram Sena chief asks govt to kick out studen... 2022-02-02
5945   COVAX delivers one billionth COVID-19 vaccine ... 2022-01-17
1339     Hiring intent still unruffled by Omicron threat 2022-01-05
11668  Budget Session begins: President highlights va... 2022-01-31
13225  GCCs: Talent is key to establishing paradigms ... 2022-02-03
4204   US on 'threshold' of living with coronavirus: ... 2022-01-12
569        CG Consumer shares gain 1.36% as Sensex rises 2022-01-03
19350  Buy Hindalco Industries, target price Rs 641: ... 2022-02-18
3821   Uber rival Bolt raises $711 million at valuati... 2022-01-11
4692   'Mission Majnu' is an experiment for me, says ... 2022-01-13
3550   Third wave to push revenue recovery for multip... 2022-01-10
9854   R-Day: Netaji's 125th anniversary, INA legacy ... 2022-01-26
2660   As Covid cases surge in Delhi, migrant workers... 2022-01-07
11902        Core sector output up 3.8% in December 2021 2022-01-31
18811  RBI's surprise call pushes economists to revie... 2022-02-17
22193  Startup accelerator Upekkha raises $9 million ... 2022-02-25
16666  Real estate developer Eldeco reports booking o... 2022-02-11
2587   Biggest gainers & losers of the day: Cement st... 2022-01-07
10980  Bikram Singh Majithia files nomination papers ... 2022-01-28
22256  Jeep to launch two new SUVs in India to boost ... 2022-02-25
2803   'Kindest man on earth.' Covid-positive Vishal ... 2022-01-08
12111  Stock market update: Fertilisers stocks up as ... 2022-02-01
17608  Law against triple talaq saved families of tho... 2022-02-14
11177  Congress appoints 4 region-wise observers for ... 2022-01-29
18972  Hijab row limited to only 8 high schools & pre... 2022-02-17
6554   Bitcoin investors dig in for long haul in 'sta... 2022-01-18
9822   Google drops FLoC, introduces Topics tool to r... 2022-01-26
19897  Vote for one who answers fearlessly: Congress ... 2022-02-20
19884  Punjab Assembly elections: Over 2.14 crore vot... 2022-02-20
13021  Gautam Duggad on 3 sectors to play the capex t... 2022-02-03
9907   Top cryptocurrency prices today: Dogecoin, Bit... 2022-01-26
6504   Stock market update: Mining stocks down as mar... 2022-01-18
19661  Culinary historian Chitrita Banerji's memoir i... 2022-02-19

In [ ]:
df1=pd.read_csv("/content/banknifty.csv")

In [ ]:
df1.head()

         Date     Open     High      Low    Close  Volume
0  11/13/2006  5773.25  5823.95  5730.85  5801.35       0
1  11/16/2006  6039.20  6268.25  6039.20  6175.05       0
2  11/17/2006  6166.45  6228.25  6066.15  6119.65       0
3  11/20/2006  6115.95  6115.95  5907.45  6006.60       0
4  11/21/2006  6045.05  6101.80  6009.10  6085.50       0

In [ ]:
df2=df1.drop(['Open','High','Low','Volume'], axis = 1)

In [ ]:
df2.head()

         Date    Close
0  11/13/2006  5801.35
1  11/16/2006  6175.05
2  11/17/2006  6119.65
3  11/20/2006  6006.60
4  11/21/2006  6085.50

In [ ]:
df2['Date'] = pd.to_datetime(df2['Date'].astype(str), format='%m/%d/%Y')

In [ ]:
df2.style.format({"Date": lambda t: t.strftime("%Y-%m-%d")})

In [ ]:
df_final=pd.merge(df,df2,how='outer',on='Date')

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27156 entries, 0 to 27155
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   News    23427 non-null  object
 1   Date    27156 non-null  datetime64[ns]
 2   Close   22996 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 848.6+ KB

In [ ]:
df_final.head()

                                                News       Date  Close
0  Mamaearth raises $52 million in latest round o... 2022-01-01    NaN
1  India bags $638 million in cryptocurrency, blo... 2022-01-01    NaN
2  India bags $638 million in cryptocurrency, blo... 2022-01-01    NaN
3                Airtel, Vi push for work on 6G tech 2022-01-01    NaN
4   Future Retail misses Rs 3,000 crore payment date 2022-01-01    NaN

In [ ]:
df_final.isna().sum()

News     3729
Date        0
Close    4160
dtype: int64

In [ ]:
df_final.sample(100)

                                                    News       Date     Close
6077   Gaming firms hire more women to keep pace with... 2022-01-17  38216.15
3930   'Sulli Deals' group misused about 30 Twitter h... 2022-01-11  38442.20
7387   Govt asked to redefine ‘startup’; Grover and o... 2022-01-20  37850.85
22656  NATO's 'historic' deployment to defend Eastern... 2022-02-26       NaN
7057   COVID-19: 499 police personnel in Maharashtra ... 2022-01-19  38041.35
...                                                  ...        ...       ...
17587  AAP rivals targeting me, Bhagwant Mann as they... 2022-02-14  36908.55
1501   Share price of Concor jumps as Sensex gains 11... 2022-01-05  37695.90
22229  Do Indian stocks stand to gain from fresh US s... 2022-02-25  36430.75
8717   BJP necessary for country's development: Aparn... 2022-01-23       NaN
8848   England seal one-run win over West Indies to l... 2022-01-24  36947.55

[100 rows x 3 columns]

In [ ]:
df_Final = df_final[df_final['News'].notna()]

In [ ]:
df_Final.isna().sum()

News        0
Date        0
Close    4160
dtype: int64

In [ ]:
df_Final.shape

(23427, 3)

In [ ]:
df_Final["Close"]=df_Final["Close"].fillna(method="bfill")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_Final.isna().sum()

News     0
Date     0
Close    0
dtype: int64

In [ ]:
def rm_spl(text):
    tx=r'[^A-Za-z0-9 ]+'
    final=re.sub(tx,"",string=text)
    return final

#textt=" jsnncs@cc $dn"
df_Final['News'] = df_Final['News'].apply(rm_spl)
df_Final.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                                News       Date    Close
0  Mamaearth raises 52 million in latest round of... 2022-01-01  36421.9
1  India bags 638 million in cryptocurrency block... 2022-01-01  36421.9
2  India bags 638 million in cryptocurrency block... 2022-01-01  36421.9
3                 Airtel Vi push for work on 6G tech 2022-01-01  36421.9
4    Future Retail misses Rs 3000 crore payment date 2022-01-01  36421.9

In [ ]:
list1=[]
req_list=["hdfc"]
for i in df_Final['News']:
  residual=i.split()
  for j in residual:
    if(j.lower() in req_list):
      list1.append(True)
      break
    else:
      list1.append(False)
      break

In [ ]:
df=df_Final[list1]

In [ ]:
df.head()

                                                   News       Date     Close
845   HDFC assigns Rs 7468 cr loans in December quar... 2022-01-03  36421.90
1295  HDFC Bank others post robust loan growth in De... 2022-01-04  36840.15
1789  HDFC Bank offloads Rs 2188 crore distressed re... 2022-01-06  37490.25
2179  HDFC Life completes acquisition of Exide Life ... 2022-01-06  37490.25
2180  HDFC Life completes acquisition of Exide Life ... 2022-01-06  37490.25

In [ ]:
len(df)

38

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

,index,News,Date,Close
0,845,HDFC assigns Rs 7468 cr loans in December quar...,2022-01-03,36421.90
1,1295,HDFC Bank others post robust loan growth in De...,2022-01-04,36840.15
2,1789,HDFC Bank offloads Rs 2188 crore distressed re...,2022-01-06,37490.25
3,2179,HDFC Life completes acquisition of Exide Life ...,2022-01-06,37490.25
4,2180,HDFC Life completes acquisition of Exide Life ...,2022-01-06,37490.25
5,2489,HDFC Bank revises fee on one of its most used ...,2022-01-07,37739.60
6,2535,HDFC Bank starts online customs duty payment f...,2022-01-07,37739.60
7,3968,HDFC Bank SBI among ICICI Securities top stock...,2022-01-11,38442.20
8,5502,HDFC Bank Q3 preview Analysts expect midteen g...,2022-01-14,38370.40
9,5626,HDFC Bank hikes FD interest rates by 510 bps f...,2022-01-15,38216.15
10,5627,HDFC Bank hikes FD interest rates by 510 bps f...,2022-01-15,38216.15
11,5691,HDFC Bank Q3 Results Profit jumps 18 YoY to Rs...,2022-01-15,38216.15
12,6054,HDFC Bank stock can rally up to 30 despite Q3 ...,2022-01-17,38216.15
13,6435,HDFC Banks strong show keeps Street bullish,2022-01-18,38210.30
14,7635,HDFC Life Q3 preview Net profit seen up 10 YoY...,2022-01-20,37850.85
15,8084,HDFC Life Q3 Results Profit rises 3 YoY to Rs ...,2022-01-21,37574.30
16,8257,HDFC Life profit up led by premium growth even...,2022-01-21,37574.30
17,8626,HDFC real estate PE arm HDFC Capital to invest...,2022-01-23,36947.55
18,8627,HDFC real estate PE arm HDFC Capital to invest...,2022-01-23,36947.55
19,8953,HDFC Life margins will continue to improve Vib...,2022-01-24,36947.55
20,9281,HDFC Asset Managements PAT falls 3 in Q3 reven...,2022-01-25,37706.75
21,11469,HDFC Mid Cap Opportunities mutual fund review ...,2022-01-31,37975.35
22,11473,HDFC Mid Cap Opportunities mutual fund review ...,2022-01-31,37975.35
23,12583,HDFC Q3 Result Preview Double digit rise in pr...,2022-02-02,39330.50
24,12710,HDFC Q3 Results Profit rises 11 YoY to Rs 3261...,2022-02-02,39330.50
25,12884,HDFC Q3 Results Sustained demand for home loan...,2022-02-02,39330.50
26,12900,HDFC Bank ICICI Bank and SBI may be the bigges...,2022-02-02,39330.50
27,12982,HDFC posts 11 rise in Q3 net on traction in in...,2022-02-03,39010.00
28,16503,HDFC Mutual Fund launches NIFTY 100 Index Fund...,2022-02-11,38517.25
29,16504,HDFC Mutual Fund launches NIFTY 100 Index Fund...,2022-02-11,38517.25
30,18575,HDFC Bank hikes FD interest rates of these ten...,2022-02-16,37953.80
31,18576,HDFC Bank hikes FD interest rates of these ten...,2022-02-16,37953.80
32,19024,HDFC Chairman Deepak Parekh sees robust housin...,2022-02-17,37531.65
33,19025,HDFC chairman Deepak Parekh sees robust housin...,2022-02-17,37531.65
34,19026,HDFC chairman Deepak Parekh sees robust housin...,2022-02-17,37531.65
35,19544,HDFC Bank nonexecutive director Srikanth Nadha...,2022-02-18,37599.15
36,19545,HDFC Bank nonexecutive director Srikanth Nadha...,2022-02-18,37599.15
37,21320,HDFC Bank vs SBI vs ICICI Bank vs PNB Interest...,2022-02-23,37392.05

# **Text PreProcessing**

In [ ]:
#character removal

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt') 
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
for i in range(len(df)):
  words=word_tokenize(df["News"][i].lower())
  lemmatizer=WordNetLemmatizer()
  words=[lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
  df["News"][i]= " ".join(words)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df.head()

,index,News,Date,Close
0,845,hdfc assigns r 7468 cr loan december quarter s...,2022-01-03,36421.90
1,1295,hdfc bank others post robust loan growth decem...,2022-01-04,36840.15
2,1789,hdfc bank offloads r 2188 crore distressed ret...,2022-01-06,37490.25
3,2179,hdfc life completes acquisition exide life sta...,2022-01-06,37490.25
4,2180,hdfc life completes acquisition exide life sta...,2022-01-06,37490.25

# **`Model Fitting`**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df['News'] ,df['Close'].values,test_size=0.2)

In [ ]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(df['News'])

Train_X_Tfidf = Tfidf_vect.transform(x_train)
Test_X_Tfidf = Tfidf_vect.transform(x_test)

In [ ]:
# Classifier - Algorithm - SVM
# fit the training dataset on the classifier
SVM = svm.SVC(C=1.0, kernel='rbf', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,y_train)# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X_Tfidf)# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, y_test)*100)

In [ ]:
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,y_train)# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, y_test)*100)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_Final['News'] ,df_Final['Close'].values,test_size=0.2)

In [ ]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer

tok=Tokenizer(3000)

tok.fit_on_texts(x_train)
x_train_se=tok.texts_to_sequences(x_train)

x_test_se=tok.texts_to_sequences(x_test)

In [ ]:
from keras.preprocessing.sequence import pad_sequences
x_train=pad_sequences(x_train_se,maxlen=150)
x_test=pad_sequences(x_test_se,maxlen=150)

In [ ]:
from tensorflow.keras import Model
from tensorflow.keras.layers import Input,LSTM,Dense,Activation,Dropout
from keras.layers.embeddings import Embedding

In [ ]:
max_len=150
def rnn():
  inputs =Input(name='input',shape=[max_len])
  layer=Embedding(3000,50,input_length=max_len)(inputs)
  layer=LSTM(64)(layer)
  layer=Dense(256,name='FC1')(layer)
  layer=Activation('relu')(layer)
  layer=Dropout(0.5 )(layer)
  layer=Dense(1,name='out_layer')(layer)
  layer=Activation('relu')(layer)
  model=Model(inputs=inputs,outputs=layer)
  return model

In [ ]:
model=rnn()

In [ ]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input (InputLayer)          [(None, 150)]             0

 embedding_1 (Embedding)     (None, 150, 50)           150000

 lstm_1 (LSTM)               (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation_2 (Activation)   (None, 256)               0

 dropout_1 (Dropout)         (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_3 (Activation)   (None, 1)                 0

=================================================================
Total params: 196,337
Trainable params: 196,337
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss='mse',metrics=['accuracy'])

In [ ]:
history=model.fit(x_train,y_train,epochs=10,batch_size=64,validation_split=0.2)

Epoch 1/10
235/235 [==============================] - 32s 122ms/step - loss: 1399590912.0000 - accuracy: 0.0000e+00 - val_loss: 1346346368.0000 - val_accuracy: 0.0000e+00
Epoch 2/10
235/235 [==============================] - 31s 131ms/step - loss: 1248988032.0000 - accuracy: 0.0000e+00 - val_loss: 1131102080.0000 - val_accuracy: 0.0000e+00
Epoch 3/10
235/235 [==============================] - 28s 119ms/step - loss: 989508672.0000 - accuracy: 0.0000e+00 - val_loss: 839270464.0000 - val_accuracy: 0.0000e+00
Epoch 4/10
235/235 [==============================] - 28s 118ms/step - loss: 690057664.0000 - accuracy: 0.0000e+00 - val_loss: 542452160.0000 - val_accuracy: 0.0000e+00
Epoch 5/10
235/235 [==============================] - 29s 122ms/step - loss: 417588256.0000 - accuracy: 0.0000e+00 - val_loss: 298503840.0000 - val_accuracy: 0.0000e+00
Epoch 6/10
235/235 [==============================] - 28s 119ms/step - loss: 214535840.0000 - accuracy: 0.0000e+00 - val_loss: 135691952.0000 - val_accuracy: 0.0000e+00
Epoch 7/10
235/235 [==============================] - 28s 119ms/step - loss: 95285808.0000 - accuracy: 0.0000e+00 - val_loss: 49466760.0000 - val_accuracy: 0.0000e+00
Epoch 8/10
235/235 [==============================] - 32s 136ms/step - loss: 38339468.0000 - accuracy: 0.0000e+00 - val_loss: 14703892.0000 - val_accuracy: 0.0000e+00
Epoch 9/10
235/235 [==============================] - 28s 120ms/step - loss: 19031482.0000 - accuracy: 0.0000e+00 - val_loss: 4009580.5000 - val_accuracy: 0.0000e+00
Epoch 10/10
235/235 [==============================] - 28s 119ms/step - loss: 14090112.0000 - accuracy: 0.0000e+00 - val_loss: 1439100.2500 - val_accuracy: 0.0000e+00

# **`Volaitility detection`**

In [ ]:
df1=pd.read_csv("")

In [ ]:
df2 = pd.read_csv("")